$dark: #272727;
$lighter-dark: #4B4B4B;
$dark-middle: #343434;


$dark2: #262926;
$grey: #444140;
$light-grey: #a8a4a3;
$light: #F7EBE8;
$salmon: #FFA987;
$red: #E54B4B;
$light-red: #dd7676;
$lighter-green: #cff4d2;
$light-green: #1D976C;
$green: #329d9c;

$primary-darker: #1D976C;
$primary: #EACF8B;
$primary-light: #e9d7a9;
$primary-lighter: #F4EBD4;
$primary-dark: #97875c;
$light: rgb(228, 228, 228);


$heroShadowLg: linear-gradient(180deg, #272727 0%, rgba(255, 255, 255, 0) 56.77%);;
$heroShadowSm: linear-gradient(180deg, #272727 0%, rgba(0, 0, 0, 0.42) 100%);

