.gallery {
  background-color: $dark;
  // height: 100vh;
  color: white;
  padding: 3em;

  h1 {
    margin-bottom: 2rem;
    margin-top: 5rem;
  }

  &__section {
    height: 100%;
    // height: 100vh;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(9, 15rem);
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--first {
      .one {
        grid-column: 1/2;
        grid-row: 1/2;

        img {
          border-top-left-radius: 6px;
        }
      }

      .three {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .two {
        grid-column: 2/3;
        grid-row: 1/3;

        img {
          border-top-right-radius: 6px;
        }
      }
    }

    &--second {
      grid-template-rows: repeat(1, 1fr);
      .four {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }

    &--third {
      grid-template-rows: repeat(1, 1fr);
      .five {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      .six {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }

    &--fourth {
      .seven {
        grid-column: 1/2;
        grid-row: 1/3;
      }

      .eight {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      .nine {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }

    &--fifth {
      grid-template-rows: repeat(1, 1fr);

      .ten {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }

    &--sixth {
      grid-template-rows: repeat(1, 1fr);
      .eleven {
        grid-column: 1/2;
        grid-row: 1/2;

        img {
          border-bottom-left-radius: 6px;
        }
      }

      .twelve {
        grid-column: 2/3;
        grid-row: 1/2;

        img {
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
}
